extends layout
block content
    .content
        .container.about-container
            .left
                h1  Despre noi
                p Competența de bază a SARCO o constituie capacitatea noastră de a construi și de a proiecta detaliat.
                p Expertiza noastră în construcție este aplicabilă pentru un spectru larg de servicii de construcții, precum:
                ul
                    li
                        a(href='javascript:;') Pre-Construcție
                    li
                        a(href='javascript:;') Proiectare Construcție
                    li
                        a(href='javascript:;') Antrepriză Generală
                    li
                        a(href='javascript:;') Proiectare și Construcție
                    li
                        a(href='javascript:;') Construcții ASTRON
                    li
                        a(href='javascript:;') Servicii Reprezentare Proprietar


                a(href='javascript:;').btn-red descarcă prezentarea companiei

            .right
                .about-box
                    span
                    .about-img
                        img(src='assets/img/about.jpg')