extends layout
block content
    .content
        .container.about-container
            .left
                h1  Despre noi
                p Competența de bază a SARCO o constituie capacitatea noastră de a construi și de a proiecta detaliat.
                p Expertiza noastră în construcție este aplicabilă pentru un spectru larg de servicii de construcții, precum:
                if(services)
                    ul
                        each service in services
                            li
                                a(href=route(`/services/${service.slug}/`)) !{service.present().renderName()}

                a(href=`/uploads/docs/company_profile_${translator.getLocale()}.pdf` target="_blank").btn-red descarcă prezentarea companiei

            .right
                .about-box
                    span
                    .about-img
                        img(src='/assets/img/about.jpg')