extends layout
block content
    .content
        .container.about-container
            .left
                h1  Careers
                p Încurajăm evoluţia profesională, recunoscând performanţa individuală şi propunând reale oportunităţi de carieră. Dacă deveniţi colegul nostru, vă dezvoltaţi constant competenţele pentru a evolua în meseria dumneavoastră.
                p Echipa Sarco este foarte importantă pentru noi și vrem și o extindem cu noi colegi, capabili să ne susțină în demersul nostru de dezvoltare continuă.
                p Dacă iți dorești să faci parte din echipa noastră, aplică pentru unul dintre posturile disponibile sau transmite CV-ul tău.


                form.custom-form(action='' method='post' enctype="multipart/form-data")#careers-form
                    .form-box.form-box-left
                        label Nume
                        input(type='text' placeholder='Text here', name="firstname")
                    .form-box.form-box-right
                        label Post
                        select.chosen-select(data-placeholder="Select", name="position_id")
                            option(value="")
                            each post in positions
                                option(value=post.id) !{post.present().renderName()}

                    .form-box.form-box-left
                        label Prenume
                        input(type='text' placeholder='Text here', name="lastname")
                    .form-box.form-box-right
                        label E-mail
                        input(type='email' placeholder='Text here', name="email")#email


                    .form-title Atașează CV
                    a(href="javascript:;" class="btn-red" id="upload_cv") Select file

                    input(id="upload_cv_input" type='file', name="cv", multiple=false, style="display:none")
                    //
                        div.dropzone
                            input(type='file', name="cv")
                            .dz-message
                                img(src='/assets/img/drop.png')
                                p Drag & Drop Your CV Here
                                p or
                                .btn-red select file

                    button(type='submit' id='careers-form-submit' style="float:right").btn-red Aplica

            .right
                .about-box
                    span
                    .about-img
                        img(src='/assets/img/careers.jpg')

