extends layout

block content
    #home-slider
        div.main-slider
            img(src='assets/img/slider/1.jpg')
            .container
                .slider-info
                    h2  Construcția Industrială
                    .slider-left DEPOZIT AGRICOL CU FRIGIDER, MAGAZIN ȘI OFICII– INDUSTRIALA
                    .slider-right
                        a(href='javascript:;').btn-red Vezi mai mult
        div.main-slider
            img(src='assets/img/slider/2.jpg')
            .container
                .slider-info
                    h2  Construcția Industrială
                    .slider-left HANGAR PENTRU PĂSTRAREA TEHNICII DE AVIAŢIE– INDUSTRIALA
                    .slider-right
                        a(href='javascript:;').btn-red Vezi mai mult
        div.main-slider
            img(src='assets/img/slider/3.jpg')
            .container
                .slider-info
                    h2  Construcția Industrială
                    .slider-left SPAȚII COMERCIALE „VITRA” SRL – INDUSTRIALA
                    .slider-right
                        a(href='javascript:;').btn-red Vezi mai mult
        div.main-slider
            img(src='assets/img/slider/4.png')
            .container
                .slider-info
                    h2  Construcția Industrială
                    .slider-left COMPLEX LOCATIV CU 2 BLOCURI, 72 APARTAMENTE S+P+7E - CIVILA
                    .slider-right
                        a(href='javascript:;').btn-red Vezi mai mult