li
    a(href=route(`/portfolio/${category.slug}/constructions/${item.slug}/details`))
        h3 !{item.present().renderName()}
        .img-box
            img(src='/assets/img/civile.jpg')
        //.slider-left 100 Proiecte
        .slider-right
            button.btn-red vezi mai mult