div.main-slider
    img(src='/assets/img/slider/1.jpg')
    .container
        .slider-info
            h2  !{item.present().renderName()}
            .slider-left !{item.present().renderDescription('description', 0)}
            .slider-right
                a(href='javascript:;').btn-red Vezi mai mult