doctype html

html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        block title
            title PGI | Dashboard

        include ../partials/assets/css.pug

        block styles

    body
        block content

    include ../partials/assets/js.pug

    block scripts