# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/node_modules/
.idea/
/config/localhost.json
/npm-debug.log
/temp/
/public/uploads/
/config/production.json