extends ../layout
block content
    .content
        .container.about-container
            .left
                h1  !{item ? item.present().renderName() : 'no services'}
                //p !{item ? item.present().renderDescription('description', 0) : 'no services'}
                !=item ? item.description : ''
                if(services && false)
                    include list

            .right
                .about-box
                    span
                    .about-img
                        img(src=image ? image : '')