li.dropdown
    //// Main badge
    //a.dropdown-toggle.count-info(data-toggle="dropdown", href="#")
    //    i.fa.fa-envelope
    //    span.label.label-warning 16
    //
    //// Badge content on-click
    //ul.dropdown-menu.dropdown-messages
    //
    //    // Example of follower bages
    //    - var followers = {0: {follower: "Jason Stathem", follows: "Chuck Norris", date: "Yesterday 1:21 pm - 11.06.2014"}, 1: {follower: "Jason Stathem2", follows: "Chuck Norris", date: "Yesterday 1:21 pm - 11.06.2014"}}
    //
    //    each item in followers
    //        include items/follow

    //li.dropdown
    //    a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
    //        i.fa.fa-globe
    //        span Language
    //    ul.dropdown-menu.dropdown-alerts.lang-select
    //        li
    //            a(href='')
    //                // <div>
    //                i.fa.fa-flag
    //                |  English
    //                // </div>
    //        li.divider
    //        li
    //            a(href='')
    //                // <div>
    //                i.fa.fa-flag
    //                |  Français
    //                // </div>
    //        li.divider
    //        li
    //            a(href='')
    //                // <div>
    //                i.fa.fa-flag
    //                |  Spanish
    //                // </div>
    // todo: add possibility to add/remove other pages, dropdowns, badges.
    li
        a(href='/dashboard/settings/settings/site')
            i.fa.fa-gear
            |  Settings
    li
        a(href='/dashboard/logout')
            i.fa.fa-sign-out
            |  Log out
