.row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
        h2 !{schedule.getTitle()}

        ol.breadcrumb
            li Dashboard

            li.active
                strong #{schedule.getTitle()}