li
   a(href=route(`/portfolio/${category.slug}/constructions`))
       h3  !{category.present().renderName()}
       .img-box
           img(src='/assets/img/about.jpg')
       .slider-right
           button.btn-red vezi mai mult