extends ../layout
block content
    .content
        .container
            .portfolio-left
                h1  “Euroclinic”
                h2 Instituția Medico-Sanitară Publică Spitalul raional Orhei, Centrul de tomografie computerizată, imagistică ”Euroclinic”
                img(src='/assets/img/tmp/5.jpg')
                img(src='/assets/img/tmp/6.jpg')
                img(src='/assets/img/tmp/7.jpg')
                img(src='/assets/img/tmp/8.jpg')
                img(src='/assets/img/tmp/9.jpg')
            .portfolio-right
                .details
                    .info-box
                        strong Adresa:
                        p or. Orhei
                    .info-box
                        strong Descriere:
                        p  Replanificarea încăperilor în Centru de tomografie
                    .info-box
                        strong Beneficiar:
                        p  ”Euroclinic” SRL

                    a(href='javascript:;').btn-back go back
