extends ../layout
block content
    .content
        .container
            h1  !{trans('portfolio').toUpperCase()}
            if(categories)
                ol.portfolio
                    each category in categories
                        include category_block
