extends ../layout
block content
    .content
        .container.about-container
            ol.portfolio-list
                li
                    a(href='/portfolio/details')
                        h3  Borceag
                        .img-box
                            img(src='/assets/img/about.jpg')
                        .slider-right
                            button.btn-red vezi mai mult

                li
                    a(href='/portfolio/details')
                        h3 Euroclinic
                        .img-box
                            img(src='/assets/img/civile.jpg')
                        .slider-right
                            button.btn-red vezi mai mult
                li
                    a(href='/portfolio/details')
                        h3 Floresti maternitate
                        .img-box
                            img(src='/assets/img/tmp/1.jpg')
                        .slider-right
                            button.btn-red vezi mai mult
                li
                    a(href='/portfolio/details')
                        h3 Floresti pediatrie
                        .img-box
                            img(src='/assets/img/tmp/2.jpg')

                        .slider-right
                            button.btn-red vezi mai mult
                li
                    a(href='/portfolio/details')
                        h3 Nisporeni
                        .img-box
                            img(src='/assets/img/tmp/3.jpg')

                        .slider-right
                            button.btn-red vezi mai mult
                li
                    a(href='/portfolio/details')
                        h3 Euroclinic
                        .img-box
                            img(src='/assets/img/tmp/4.jpg')

                        .slider-right
                            button.btn-red vezi mai mult

                li
                    a(href='/portfolio/details')
                        h3  Borceag
                        .img-box
                            img(src='/assets/img/about.jpg')

                        .slider-right
                            button.btn-red vezi mai mult

                li
                    a(href='/portfolio/details')
                        h3 Euroclinic
                        .img-box
                            img(src='/assets/img/civile.jpg')

                        .slider-right
                            button.btn-red vezi mai mult
                li
                    a(href='/portfolio/details')
                        h3 Floresti maternitate
                        .img-box
                            img(src='/assets/img/tmp/1.jpg')

                        .slider-right
                            button.btn-red vezi mai mult