extends ../layout
block content
    .content
        .container.about-container
            if(constructions)
                ol.portfolio-list
                    each item in constructions
                        include ../constructions/category_block