doctype html

html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        block title
            title Error | Dashboard

        include ../partials/assets/css.pug

        block styles

    body.gray-bg
        .middle-box.text-center.animated.fadeInDown
            block content
                h1 Some Error!!

    include ../partials/assets/js.pug

    block scripts