link(href='/dashboard/assets/css/bootstrap.min.css', rel='stylesheet')
link(href='/dashboard/assets/css/font-awesome/font-awesome.css', rel='stylesheet')
link(href='/dashboard/assets/css/animate.css', rel='stylesheet')
link(href='/dashboard/assets/css/style.css', rel='stylesheet')
link(href='/dashboard/assets/css/plugins/footable/footable.core.css', rel='stylesheet')