li
    .dropdown-messages-box
        a.pull-left
            img.img-circle(src="/dashboard/assets/img/profile_small.jpg", alt="image")

        .media-body.
            #[small.pull-right.text-navy 5th ago]
            #[strong #{item.follower}] started following
            #[strong #{item.follows}]. #[br]
            #[small.text-muted #{item.date}]

li.divider