div(style="width:300px")
    if(element.hasAttached(element.getName()))
        each item in element.attached(element.getName())
            div.pull-left.m-r-lg.file-wrap(id='file-'+item.id)
                img(src=item.getFullPath() style='height:100px')
                span(class="pull-right" style="margin-left:-50px;position:relative")
                    a(data-id=item.id class="delete-file close-link btn btn-danger" )
                     i(class='fa fa-times' style='color:#fff' )
    input(name=element.getName(), type="file")&attributes(element.attributes)
